.section {
    background: white;
    margin-bottom: 10px;
    box-shadow: 0 0 5px #EEEDEF;
}

.section__header {
    border-bottom: 1px solid #EEEDEF;
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    justify-content: space-between;
    align-items: center;
}

@media(max-width: 767px){
    .section__header{
        grid-template-columns: 1fr;
    }
}

.section__title {
    margin: 0;
    font-size: 20px;
}

.section__body {
    padding: 20px;
}