.buttons {
    display: flex;
    flex-wrap: wrap;
}

.buttons__button {
    border: none;
    color: hsl(180, 100%, 20%);
    background: none;
    cursor: pointer;
    transition: color 1s;
}

@media(max-width: 767px){
    .buttons__button{
        flex-basis: 100%;
        margin: 10px;
    }
}

.buttons__button:hover{
    color: hsl(180, 100%, 25%);
}
.buttons__button:disabled{
    color: #EEEDEF;
}
